{% extends 'base.html.twig' %}
{% trans_default_domain "labels" %}

{% block section %}{{ 'section.customer.show'|trans }}{% endblock section %}

{% block body %}  

  <div class="main-container">

    <div class="card">
      <div class="card-header">
        <h3><code>{{ customer }}</code></h3>
      </div>
      <div class="card-body">
        <p class="card-text"><b>{{ 'label.customer.firstname'|trans }}:</b> {{ customer.firstName }}</p>
        <p class="card-text"><b>{{ 'label.customer.lastname'|trans }}:</b> {{ customer.lastName }}</p>
        <p class="card-text"><b>{{ 'label.customer.email'|trans }}:</b> {{ customer.email }}</p>
        <p class="card-text"><b>{{ 'label.customer.groups'|trans }}:</b>
          <ul>
          {% for group in customer.groups %}
            <li>{{ group }}</li>
          {% endfor %}
          </ul>
        </p>
        <p class="card-text"><b>{{ 'label.customer.observations'|trans }}:</b> {{ customer.observations }}</p>

        {{ form_start(delete_form, {'attr': {'id': 'delete-form'}}) }}
          <button type="button" class="btn btn-primary" onclick="location.href='{{ path('customer_edit', { 'id' : customer.id }) }}';"><i class="fa fa-pencil-alt"></i> {{ 'button.edit'|trans }}</button>
          <button type="submit" id="delete-button" class="btn btn-danger" >
            <i class="fa fa-times" aria-hidden="true"></i> {{ 'button.delete'|trans }}
          </button>
          <button type="button" class="btn btn-secondary" onclick="location.href='{{ path('customer_index') }}';"><i class="fa fa-arrow-left"></i> {{ 'button.back'|trans }}</button>
        {{ form_end(delete_form) }}

      </div>
    </div>

  </div>

{% endblock %}

{% block javascripts %}
  {{ parent() }}

  <script>
    // jquery-confirm 
    $('#delete-button').on('click', function(e){
      e.preventDefault();

      $.confirm({
        title: '{{ 'confirm.delete.title'|trans }}',
        content: '{{ 'confirm.delete.content'|trans }}',
        buttons: {
          confirm: {
            text: '{{ 'button.confirm'|trans }}',
            action: function () {
              $('#delete-form').submit();
            }
          },
          cancel: {
            text: '{{ 'button.cancel'|trans }}',
            action: function(){}
          },
        }
      });
    });                      
  </script>

  {% endblock javascripts %}